/* ==========================================================================
   General styles
   ========================================================================== */

html,
body {
    width: 100%;
}

body {
    background-color: #FFFFFF;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #acaeaf;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

body {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.col-md-4 {
    padding-bottom: 20px;
}

i {
    font-size: 48px;
    color: #3ab8ad;
}




/* Model */
.modal-header {
    background: -moz-linear-gradient(90deg, #5D4796 0%, #463570 100%);
   background: -moz-linear-gradient(90deg, #0668A7 0%, #0f90d7 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0f90d7), color-stop(100%, #0668A7));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, #0668A7 0%, #0f90d7 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, #0668A7 0%, #0f90d7 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, #0668A7 0%, #0f90d7 100%);
    /* ie10+ */
    background: linear-gradient(0deg, #0668A7 0%, #0f90d7 100%);
    /* w3c */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0f90d7', endColorstr='#0668A7', GradientType=0);
    /* ie6-9 */
}


/* Titles */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #323232;
}


/* Paragraph & Typographic */

p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.paragraph-lead {
    font-size: 20px;
    color: #3498db;
}

strong {
    font-weight: 700;
}

em {
    font-weight: 300;
}

pre {
    background: #ebebeb;
    border: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #666;
    padding: 20px;
    line-height: 28px;
}

small {
    font-size: 12px;
}

blockquote,
blockquote p {
    line-height: 28px;
    color: #999;
    font-weight: 300;
    font-style: italic;
}

blockquote {
    position: relative;
    margin: 0 0 40px -30px;
    padding-left: 30px;
    border-left: 5px solid #3498db;
}

blockquote cite {
    position: absolute;
    bottom: -25px;
    right: 0;
    font-size: 12px;
    font-style: italic;
    color: #333;
    font-weight: 300;
}

blockquote cite:before {
    content: "-- "
}

/* Links */
a {
    color: #46356e;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #f7960b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}


/* ==========================================================================
   Wrap Sections
   ========================================================================== */

.headerwrap {
    /*  background: url(../img/bgjuanwhite.png) no-repeat center top;
    text-align:center;
    background-attachment: relative;
    background-position: center center;
    /*min-height: 580px;*/
    min-height: 100vh;

    /*    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

#particle-js {
    position: absolute;
    width: 100%;
    max-height: 700px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

.headerwrap h1 {
    color: #323232;
    margin-top: 90px;
    padding-bottom: 30px;
    letter-spacing: 8px;
    font-size: 100px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000;
}

.headerwrap p {
    color: #3ab8ad;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    /*line-height: 45px;*/
    /*letter-spacing: 3px;*/
    padding-top: 10px;
}

#greywrap {
    /*formerly #FDFDFD*/
    background: #FFFFFF;
    margin-top: -30px;
    padding-top: 40px;
    /*  border-bottom: 1px solid #ddd;*/
    text-align: center;
    /*    -webkit-box-shadow: 0px 0px 67px 36px rgba(3,10,18,1);
    -moz-box-shadow: 0px 0px 67px 36px rgba(3,10,18,1);
    box-shadow: 0px 0px 67px 36px rgba(3,10,18,1);*/
}

#greywrap .callout {
    margin-bottom: 20px;
}

#greywrap p {
    margin-left: 30px;
    margin-right: 30px;
    /*letter-spacing: 1px;*/
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: justify;
    -moz-text-align-last: center;
    /* Code for Firefox */
    text-align-last: center;
}

#greywrap .icon {
    font-size: 60px;
    line-height: 30px;
    margin-bottom: 10px;
}

#purplewrap {
    background: -moz-linear-gradient(90deg, #5D4796 0%, #463570 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #463570), color-stop(100%, #5D4796));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, #5D4796 0%, #463570 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, #5D4796 0%, #463570 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, #5D4796 0%, #463570 100%);
    /* ie10+ */
    background: linear-gradient(0deg, #5D4796 0%, #463570 100%);
    /* w3c */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#463570', endColorstr='#5D4796', GradientType=0);
    /* ie6-9 */
    padding-top: 40px;
    /*  border-bottom: 1px solid #ddd;*/
    text-align: left;
    /*    -webkit-box-shadow: 0px 0px 67px 36px rgba(3,10,18,1);
    -moz-box-shadow: 0px 0px 67px 36px rgba(3,10,18,1);
    box-shadow: 0px 0px 67px 36px rgba(3,10,18,1);*/
}


 #purplewrap .callout {
    margin-bottom: 20px;
}

#purplewrap p {
    padding: 15px;
    text-align: left;
}

#purplewrap .icon {
    font-size: 60px;
    line-height: 30px;
    margin-bottom: 10px;
}


#yellowwrap {
    padding-top: 40px;
    background: -moz-linear-gradient(90deg, #42CFC3 0%, #3ab8ad 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3ab8ad), color-stop(100%, #42CFC3));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, #42CFC3 0%, #3ab8ad 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, #42CFC3 0%, #3ab8ad 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, #42CFC3 0%, #3ab8ad 100%);
    /* ie10+ */
    background: linear-gradient(0deg, #42CFC3 0%, #3ab8ad 100%);
    /* w3c */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3ab8ad', endColorstr='#42CFC3', GradientType=0);
    /* ie6-9 */
}

#yellowwrap .callout {
    margin-bottom: 20px;
}

#skillwrapper {
    padding-top: 40px;
    background: -moz-linear-gradient(90deg, #5DACE6 0%, #2daeea 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5DACE6), color-stop(100%, #2daeea));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, #5DACE6 0%, #2daeea 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, #5DACE6 0%, #2daeea 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, #5DACE6 0%, #2daeea 100%);
    /* ie10+ */
    background: linear-gradient(0deg, #5DACE6 0%, #2daeea 100%);
    /* w3c */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2daeea', endColorstr='#5DACE6', GradientType=0);
    /* ie6-9 */
}

#footerwrap {
    background: -moz-linear-gradient(90deg, #5D4796 0%, #463570 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #463570), color-stop(100%, #5D4796));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, #5D4796 0%, #463570 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, #5D4796 0%, #463570 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, #5D4796 0%, #463570 100%);
    /* ie10+ */
    background: linear-gradient(0deg, #5D4796 0%, #463570 100%);
    /* w3c */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#463570', endColorstr='#5D4796', GradientType=0);
    /* ie6-9 */
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#footerwrap h4 {
    color: #FFFFFF;
}

/* ==========================================================================
   Box Sections
   ========================================================================== */

.#323232 h1 {
    padding-top: 35px;
}

.#323232 p {
    padding-top: 25px;
}


/* ==========================================================================
   Image Mask
   ========================================================================== */

.grid figure {
    margin: 0;
    position: relative;
    cursor: pointer;
}

.grid figure img {
    width: 100%;
    display: block;
    position: relative;
}

.grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    color: #323232;
    background: #2772DB;
}

.grid figcaption h5 {
    margin: 0;
    padding-top: 0px;
    padding-left: 20px;
    padding-bottom: 5px;
    color: #323232;
    font-weight: 700;
    text-align: left;
    letter-spacing: 2px;
}

.grid figcaption a {
    text-align: left;
    padding: 5px 10px;
    margin-left: 20px;
    display: inline-block;
    background: #2f2f2f;
    color: #323232;
    font-size: 13px;
}


/* ==========================================================================
   Box Sections
   ========================================================================== */

.#323232 h1 {
    padding-top: 35px;
}

.#323232 p {
    padding-top: 25px;
}


/* Section Dividers */

.section-divider {
    z-index: 999;
    width: 100%;
    display: table;
    max-height: 450px;
    /*    border-bottom: 2px solid #E6EAED;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 70px;
    margin-top: 45px;
    background-position: center center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: relative;
    text-align: center;
}

.textdivider h1 {
    padding-top: 70px;
    color: #323232;
    font-size: 40px;
}

.textdivider p {
    color: #323232;
    font-size: 25px;
}
