/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  overflow-x: hidden;
}

body {
  font-family: futura-pt, 'Open Sans', sans-serif;
  background: #efefef;
}

h2 {
  font-size: 4rem;
  font-weight: bold;
}

h3 {
  font-size: 1.3rem;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #83cead;
  font-weight: 800;
  font-size: 0.7em;
  line-height: 1em;
  padding: .25em .3em;
  transition: transform .2s;
  will-change: transform;
  cursor: pointer;
}
a:hover {
  color: white;
  background: #83cead;
  transform: scale(1.1) skew(-10deg);
}

nav {
  margin: 0.5em;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  text-transform: uppercase;
}

.tagline {
  margin: 0.5em 0;
  color: #666;
  font-weight: 100;
  text-align: center;
  line-height: 1.4em;
  color: #efefef;
  padding: 1em;
}

.margin {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

#surface {
  width: 50%;
  height: 100px;
}

#top-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  background: #384b5f;
}

#work {
  padding: 3rem 0;
}

#work-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  -webkit-perspective: 2000;
  max-width: 1024px;
  margin: auto;
}
#work-items svg {
  cursor: pointer;
}
#work-items svg * {
  pointer-events: none;
}

#about {
  max-width: 768px;
  margin: 0 auto 3rem;
  padding: 2rem;
}
#about h4 {
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.4em;
}
#about a {
  margin-top: 1em;
  font-size: 1.3rem;
}

#side-view {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 5;
}

#side-scroll {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#side-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
}

#detail-close-btn {
  cursor: pointer;
  margin: 1em;
}
#detail-close-btn line {
  transition: stroke-width 0.2s;
}
#detail-close-btn:hover line {
  stroke-width: 5;
}

#screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  pointer-events: none;
  opacity: 0;
}

.detail-view {
  display: none;
  margin: 5rem auto;
  padding: 1rem;
  max-width: 34rem;
  font-size: 1.3rem;
  line-height: 1.5;
}
.detail-view h3 {
  margin: 1rem 0;
}
.detail-view blockquote {
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.2;
}
.detail-view p {
  margin-bottom: 2em;
  font-weight: 100;
}
.detail-view ul {
  margin-top: 2em;
}

.twitter-container {
  margin-top: 1em;
  height: 28px;
}

nav {
  text-align: right;
  font-size: 1.5rem;
}
nav li {
  display: inline-block;
}
