		<!-- //////////////////////////////////////////////// ABOUT ME ////////////////////////////////////////////////  -->
		<section class="s-holder" id="section-holder">
			<div class="container" id="about">
				<div id="about" class="row rowTop">
                		<!-- col-lg-4 -->
					<div id="aboutSec" class="col-md-5 col-md-push-6 callout" data-sr="wait 0.1s enter right over 1s">
						<h2 class="centered" style="font-size: 2em; color: #4582ec; font-weight: bold; padding-bottom: 0.3em;">Faser Parvez</h2>
							<div class="center-block dividerLine"></div>    
							<p>I am a recent graduate with a 2:1 honours Computing BSc degree from the University of Huddersfield. I have a long history and strong interest within the design and development area of software and web applications. I have successfully picked up some experience within this area by completing a year in industry for my placement year and having worked as a junior web developer for an internship.
							<br>
							As a person with Strong communication, good organisational skills and works at a high standard, I believe in self-improvement and taking new challenges while having a passionate to progress further in a career as a developer.
							<br>
							Throughout my degree at the University of Huddersfield, I have developed several technical skills in areas of development. Each year in my course, I was able to pick up different software packages and programming skills through modules assessment and self study. If you are interested in knowing what type of skills I process, feel free to look at the tables below.
                        				</p>
					</div>
					<div class="col-md-6 col-md-pull-5 callout" data-sr="wait 0.1s enter left over 1s">
						<div class="headshot-ct center-block">
							<img class="headshot" src="images/profileimage.png">
						</div>
					</div>
				</div>
				<!-- row -->
			</div>
		</section>
		<br>
