		<div class="modal fade" id="contactinfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 class="modal-title" id="myModalLabel">Contact Information</h3>
					</div>
					<div class="modal-body">
  <div class="table-responsive">          
  <table class="table">
    <tbody>
      <tr>
<td><i class="fa fa-envelope"></i> Email</td>
<td><a href="mailto:u1167937@alumni.hud.ac.uk">u1167937@alumni.hud.ac.uk</a></td>
</tr>
<tr>
<td><i class="fa fa-mobile"></i> Phone Number</td>
<td>07480990332</td>
</tr>
    </tbody>
  </table>
  </div>						
					</div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
      </div>                    
				</div>
			</div>
		</div>


