		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title" id="myModalLabel">Contact Information</h4>
					</div> <!-- /.modal-header -->

					<div class="modal-body">
						<div>
							<table class="table table-striped">
								<tbody>
									<tr>
										<td><i class="fa fa-envelope"></i> Email</td>
										<td><a href="mailto:u1167937@alumni.hud.ac.uk">u1167937@alumni.hud.ac.uk</a></td>
									</tr>
									<tr>
										<td><i class="fa fa-mobile"></i> Phone Number</td>
										<td>07480990332</td>
									</tr>
									<tr>
										<td><i class="fa fa-address-book"></i> Address</td>
										<td>
											<address>
												Kinross, St Leonards Road<br>
												Rotherham<br>
												South Yorkshire<br>
												England<br>
												S65 1PD
											</address>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div> <!-- /.modal-body -->
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
