	<section class="c-matrix">
		<div class="c-matrix__wrapper">
			<div id="education">
				<h2 class="centered">Education</h2>
				<br>
				
				<div class="row row1">
					<div class="row">
						<div class="col-lg-6 col-md-6 callout" data-sr="wait 0.1s enter left over 1s">
							<h2 class="topicon sechead">University of Huddersfield</h2>
							<p class="process-p"><a href="https://www.hud.ac.uk/courses/full-time/undergraduate/computing-bsc-hons/">BSc (Hons) Computing</a>
							<br>
							<a href="https://www.hud.ac.uk/">University of Huddersfield</a> 
							<br>
							Studied: 2012-2016.
							<br>
							Graduated: July 2016
							<br>    
							Degree Class: 2nd Class (2:1)
							<br>    
							Relevant modules:  Software Design and Development, Large System Environments, Advanced Web Programming, Relational Databases and Web Integration, Modern Database Application. 
							<br>
							Placement Year: Completed at the University
							<br>
							Other Information: Acted as a Student Representative & Peers Teaching Assistant.
							</p>
						</div>
						<div class="col-lg-6 col-md-6 callout" data-sr="wait 0.1s enter right over 1s">
							<h2 class="topicon sechead">Rotherham College</h2>
							<p class="process-p">BTEC National Diploma IT Practitioners
							<br>   
							Studied: 2008-2011.
							<br>
							Grade: 3x Distinction (A, A, A)
							<br>
							Other Qualifications: Key Skills in Communication - Level 2  
							<br>    
							Other Qualifications: Key Skills in Application of Numbers – Level 2
							<br>
							Awarded: Faculty of Professional Studies Award  
							<br>
							For Effort and Commitment in BTEC National Diploma Software/General
							</p>			
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-lg-6 col-md-6 callout" data-sr="wait 0.1s enter left over 1s">
							<h2 class="topicon sechead">Newman School</h2>
							<p class="process-p">Studied: 2000-2008
							<br>
							GCSE’s:  English, Maths, Science, IT, History 
							<br>
							Awarded: Certificate of Personal Effectiveness  
							<br>
							For developing various of skills such as working with others & carrying out research.  
							<br>
							School Pantomime: Acted as backstage manager for the school pantomime each year.
							<br>
							Work Experience: Completed two weeks of work experience at Mc Donald's.				
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		</section>
