		<!-- //////////////////////////////////////////////// EXPERIENCE ////////////////////////////////////////////////  -->
			<div id="purplewrap">
				<div class="container" id="work">
					<h2 class="centered" style="font-size: 2em; color: #4582ec; font-weight: bold; padding-bottom: 0.3em;">Work Experience</h2>
					<br>
					
					<div class="row row1">
						<div class="col-sm-5" data-sr="wait 0.1s enter left over 1s">
							<h3 class="topicon sechead">Junior Web Developer</h3>
							<div class="article-link">
								<p class="process-p">
								Assist in developing an interactive website within the university for the School of Art, Design and Architecture department.  
								<br>
								• Developed an interactive website project that aims to promote guest workshops.
								<br>
								• Successfully delivered the project on time and at a high-quality standard while presented to each of the school’s head of departments and deans.
								<br>
								• Duties included to communicate effectively with clients and users and analyse the feedback.
								<br>
								• Took appropriate training of learning the university web content management system.
								<br>
								• Maintain the website and investigated any bugs reported by clients and users. 
								<br>
								• Undertook other responsibilities such as testing the University learning technology website. 
								</p>
							</div>
						</div>
						<div class="col-sm-5 col-sm-offset-2" data-sr="wait 0.1s enter right over 1s">
							<h3 class="topicon sechead">Junior Software Developer</h3>
							<div class="article-link">
								<p class="process-p">
								Working with the Corporate Information Systems department at CLS as a junior software developer.  
								<br>
								• Developed a core system to store the University Programme and Module specifications. 
								<br>
								• Delivered the project to the university managers and deans, which successfully expanded the project to other schools. 
								<br>
								• Used technical skills in C#, MySQL, JavaScript to develop the system. 
								<br>
								• Duties included to communicate effectively with clients and stakeholders. 
								<br>
								• Work effectively with others in a fast-paced environment and attend weekly meetings. 
								<br>
								• Help assist other team members with other projects.			
								</p>
							</div>
						</div>
					</div>
						
					<div class="row row2">
						<div class="col-sm-5" data-sr="wait 0.1s enter left over 1s">
							<h3 class="topicon sechead">Peers Teaching Assistant</h3>
							<div class="article-link">
								<p class="process-p">
								Worked with the teaching staff at the Computing and Engineering department to provide support for 1st year students while being a voice to collect feedback and suggestions.  
								<br>
								• Duties included to set up fortnightly workshops for 1st year students to attend for help with their work. 
								<br>
								• Attended an official teaching workshop to help assist the tutor with any problems. 
								<br>
								• To collect feedback and suggestions from students and deliver in a report for staff members to make changes.
								<br>
								• Help assist in other duties.
								</p>
							</div>
						</div>
					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</div>
			<br>
