      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
      <script type="text/javascript" src="js/smoothscroll.js"></script>
        <!-- Preloader -->
        <script type="text/javascript">
        $(window).on('load', function() { // makes sure the whole site is loaded
            $('#status').fadeOut(); // will first fade out the loading animation
            $('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
            $('body').delay(350).css({
                'overflow': 'visible'
            });
        })
        $('[data-toggle="popover"]').popover();
        //]]>
        </script>
        <script type="text/javascript">
        var clipboard = new Clipboard('.btn-email-copy');
        clipboard.on('success', function(e) {});
        clipboard.on('error', function(e) {
            console.log("Oops. Something went wrong!")
        });
        $('.btn-email-copy').click(function() {
            $(this).html("Email Address Copied!")
        })
        </script>
        <script type="text/javascript">
        $(".hidden-form").hide();
        $('.btn-reveal').click(function() {
            $(".after-hide").hide();
            $(".form-body").slideDown();;
            $(".form-divider").show();
            $(".form-alt-btn").show();
            $("html, body").animate({
                scrollTop: $(document).height()
            }, "slow");
            return false;
        })
     </script>
