	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="js/smoothscroll.js"></script>
		
		<script>
			window.sr = new scrollReveal();     
		</script>
		
		<script>
			var winBreak = 5;
			$(window).on("scroll", function() {
				if ($(this).scrollTop() > winBreak) {
					$("#nav-content").addClass("nav-show in");
				} else {
				$("#nav-content").removeClass("nav-show in");
				}
			});
		</script>
		
		<script type="text/javascript">
	$(window).on('load', function() {
				$('#status').fadeOut();
				$('#preloader').delay(3500).fadeOut('slow');
				$('body').delay(350).css({
				'overflow': 'visible'
				});
			})
			$('[data-toggle="popover"]').popover();			
			
		</script>
