	<div class="modal fade" id="module" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modalClose" onclick='$("html").css("overflow", "auto")'>
					<button type="button" class="btn btnCloseX" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true" data-dismiss="modal"></i></button>
				</div>
				<br />
				<div class="col-lg-12 col-lg-offset-0 modal-body-text">
					<h3 style='text-align: center;'>Module Specification Project</h3>
					<div align="center">
						<video controls preload="none" poster="moduleimage.png">
							<source src="images/ModuleSpec.mp4" type="video/mp4">
							Your browser does not support the video tag.
						</video>
					</div>
					<p class="modal-text">The module specification site is a project that I have worked on for the University of Huddersfield. The project started off by doing a one year placement for my Computing Bsc degree course at the university. I was set up to create a system that would store module specification documentation onto an online system. The departments that I have been working with to set up the project were Computing and Engineering school and the Cooperate Information System team at the Computing and Library services. The system was carried on through my final year project for my degree and further developed to expand onto programme specification documents and expanding onto other schools at the university.</p>
					<br />
					<p class="modal-text">modal-text">The system was a web based application that would allow the Computing and Engineering schools to view module specifications online and make changes. The database would be held in the main central building with other university systems while schools would be able to edit the documents. The system would allow staff members to make changes to their specification and a process would go through of validation checks. This would send emails to other staff members who are in charge of checking the changes made and to validate the documents before accepting the changes.</p>
					<br />
					<p class="modal-text">Features that were included into the system were a search engine to find module specifications, to view and edit module specification depending on the staff member who owns the document. An advanced login system would have different access levels to the system. A validation process of checking the changes made with the documents and who has checked the documents.</p>
					<br />
				</div>
				<div class="modalLinks">
					<div class="col-lg-2 col-lg-offset-4">
						<a href="" target="_blank">
							<div class="p-centered"><i class="fa fa-github fa-2"></i></div>
							<p> Github </p>
						</a>
					</div>
					<div class="col-lg-2">
						<a href="" target="_blank">
							<div class="p-centered"><i class="fa fa-file-pdf-o fa-2"></i></div>
							<p> PDF Report </p>
						</a>
					</div>
				</div>
			</div>
		</div>
	
		<div class="modal fade" id="guest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modalClose" onclick='$("html").css("overflow", "auto")'>
					<button type="button" class="btn btnCloseX" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true" data-dismiss="modal"></i></button>
				</div>
				<br />
				<div class="col-lg-12 col-lg-offset-0 modal-body-text">
					<h3 style='text-align: center;'>Guest Lecture Site</h3>
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						</ol>	
						<div class="carousel-inner">
							<div class="item active">
								<img src="images/thumbs/guestlectures.png" alt="Los Angeles" style="width:100%;">
							</div>
						</div>
						<a class="left carousel-control" href="#myCarousel" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#myCarousel" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>                        	 
					<p class="modal-text">The Guest Lectures project is a web application project that was created for the University of Huddersfield for a 3 month internship as a junior web developer. The system was proposed by the Art, Design and Architecture school and head of department. </p>
					<p class="modal-text">The purpose of the system was to create a web system where guest lectures and events could be advertise for the students of this school. Students would then be able to book on these events if they wish to attend. The system would be used to reduce paperwork for the marketing team of the school so rather than using an external site like eventbrite and also doing paper work, they would have their own site to track each event.</p>
					<p class="modal-text">Guest lecture web application features includes a login system based on access. Everyone who would view the site would be able to see all the past events. However on live events, students and staff members would only be able to log in to view upcoming and live events and be able to book. Above that staff members would only be able to see the admin area where they are able to create new events and make changes to email notification.</p>
					<p class="modal-text">The advanced feature of this system was sending automatic emails and reminders to students. Previously the marketing team would have to do this manually but with this system, they are able to set a reminder, and final reminder to selected groups that are aimed at for the event. The system would send an email reminding them of this event and to book quickly.</p>
					<p class="modal-text">This system was presented to the head of deans of the university and other schools within the university. The system had got excellent feedback which lead to the staff members of other schools wanting to implement it.</p>
				</div>
				<div class="modalLinks">
					<div class="col-lg-2 col-lg-offset-4">
						<a href="" target="_blank">
							<div class="p-centered"><i class="fa fa-medium"></i></div>
							<p> Report </p>
						</a>
					</div>
					<div class="col-lg-2">
						<a href="" target="_blank">
							<div class="p-centered"><i class="fa fa-external-link-square"></i></div>
							<p> Github </p>
						</a>
					</div>
				</div>
			</div>
		</div>
	
		<div class="modal fade" id="chatroom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modalClose" onclick='$("html").css("overflow", "auto")'>
					<button type="button" class="btn btnCloseX" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true" data-dismiss="modal"></i></button>
				</div>
				<br />
				<div class="col-lg-12 col-lg-offset-0 modal-body-text">
					<h3 style='text-align: center;'>Java Chatroom</h3>
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							<li data-target="#myCarousel" data-slide-to="1"></li>
							<li data-target="#myCarousel" data-slide-to="2"></li>
							<li data-target="#myCarousel" data-slide-to="3"></li>
						</ol>
						<div class="carousel-inner">
							<div class="item active">
								<img src="images/thumbs/chatroom1.png" alt="Los Angeles" style="width:100%;">
							</div>
							<div class="item">
								<img src="images/thumbs/chatroom2.png" alt="Chicago" style="width:100%;">
							</div>
							<div class="item">
								<img src="images/thumbs/chatroom3.png" alt="New york" style="width:100%;">
							</div>
							<div class="item">
								<img src="images/thumbs/chatroom4.png" alt="New york" style="width:100%;">
							</div>
						</div>
						<a class="left carousel-control" href="#myCarousel" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#myCarousel" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
					<p class="modal-text">This is a project that was developed by using Java and Javaspace. The purpose of this project was to create a chatroom where users are able to communicate with each other. The data where this information would be stored was used by a system called Javaspace. Apache River was used with Linux to create this by starting up a Javaspace. The Javaspace would then be used to collect the data back to the chatroom application.</p>
					<p class="modal-text">The features that this system has is an authentication login system where the user is able to either create an account or just log in if they already have one. The user is then able to view all chatrooms available on the java application and create their own chatroom. Inside a chatroom, the user is able to communicate with other users using the application and send public message. There is also an option to send a private message to the chatroom owner. Finally the user can delete their own chatroom.</p>
				</div>
				<div class="modalLinks">
					<div class="col-lg-2 col-lg-offset-4">
						<a href="" target="_blank">
							<div class="p-centered"><i class="fa fa-medium"></i></div>
							<p> Report </p>
						</a>
					</div>
					<div class="col-lg-2">
						<a href="" target="_blank">
							<div class="p-centered"><i class="fa fa-external-link-square"></i></div>
							<p> Github </p>
						</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="camcobra" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modalClose" onclick='$("html").css("overflow", "auto")'>
					<button type="button" class="btn btnCloseX" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true" data-dismiss="modal"></i></button>
				</div>
				<br />
				<div class="col-lg-12 col-lg-offset-0 modal-body-text">
					<h3 style='text-align: center;'>Java CamCobra</h3>
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							<li data-target="#myCarousel" data-slide-to="1"></li>
							<li data-target="#myCarousel" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner">
							<div class="item active">
								<img src="images/thumbs/camcobra1.png" alt="Los Angeles" style="width:100%;">
							</div>
							<div class="item">
								<img src="images/thumbs/camcobra2.png" alt="Chicago" style="width:100%;">
							</div>
							<div class="item">
								<img src="images/thumbs/camcobra3.png" alt="New york" style="width:100%;">
							</div>
						</div>
						<a class="left carousel-control" href="#myCarousel" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#myCarousel" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
					<p class="modal-text">This is a project that was developed by using JAVA and COBRA. The purpose of this project is a system that tracks the status of cameras. For example in the example images above, you can see the application is tracking camera that are placed around the university. The system updates each time there is a change on the camera and the image taken from that camera gets updated.</p>
					<p class="modal-text">Camcobra was used with java to develop this system. With Cobra that supports programming models such as RMI and IDL, this allows this program to be built with using different stations to pass data along for the camera. For example this system uses LMS (Local Monitoring Station), RMC (Regional Monitoring Center) and Sensors in order for the camera system to work. Each of these stations have functionally in order to make sure the camera function correctly.</p>
					<p class="modal-text">The main features for this system are that each camera has a sensor device which allows the camera to be set a status, to be turned off or on or to be reset. The Local Monitoring Station allows the camera to be register to a zone and room while grabbing the status of that camera and the image. The station also keeps a track of the logs made for each camera. The Regional Monitoring Station allows the users to view each of these camera and register to them in order to get notification. </p>
					<p class="modal-text">This system is still being developed further by using another programming language called python. With python, the system will expand to create a web interface to allow users to register to a certain camera or room and track the status.</p>
				</div>
				<div class="modalLinks">
					<div class="col-lg-2 col-lg-offset-4">
						<a href="" target="_blank">
							<div class="p-centered"><i class="fa fa-medium"></i></div>
							<p> Report </p>
						</a>
					</div>
					<div class="col-lg-2">
						<a href="" target="_blank">
							<div class="p-centered"><i class="fa fa-external-link-square"></i></div>
							<p> Github </p>
						</a>
					</div>
				</div>
			</div>
		</div>
	
		<div class="modal fade" id="game" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modalClose" onclick='$("html").css("overflow", "auto")'>
					<button type="button" class="btn btnCloseX" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true" data-dismiss="modal"></i></button>
				</div>
				<br />
				<div class="col-lg-12 col-lg-offset-0 modal-body-text">
					<h3 style='text-align: center;'>C++ Video Game Database</h3>
					<div id="myCarousel" class="carousel slide" data-ride="carousel">	
						<ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							<li data-target="#myCarousel" data-slide-to="1"></li>
							<li data-target="#myCarousel" data-slide-to="2"></li>
							<li data-target="#myCarousel" data-slide-to="3"></li>
							<li data-target="#myCarousel" data-slide-to="4"></li>
						</ol>
						<div class="carousel-inner">
							<div class="item active">
								<img src="images/thumbs/videogame1.png" alt="Los Angeles" style="width:100%;">
							</div>
							<div class="item">
								<img src="images/thumbs/videogame2.png" alt="Chicago" style="width:100%;">
							</div>
							<div class="item">
								<img src="images/thumbs/videogame3.png" alt="New york" style="width:100%;">
							</div>
							<div class="item">
								<img src="images/thumbs/videogame4.png" alt="New" style="width:100%;">
							</div>
							<div class="item">
								<img src="images/thumbs/videogame5.png" alt="York" style="width:100%;">
							</div>
						</div>
						<a class="left carousel-control" href="#myCarousel" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#myCarousel" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
					<p class="modal-text">This is a project that was developed with C++ within Eclipse. The purpose of this project was to create a database system while using C++ and SQLite that would store video game information. With C++ and Linux, a system was developed by having a client and server which would allow a user to enter game information, which then that information would be stored into a database in the server side. The user would be using a command window as a GUI in order to access the information.</p>
					<p class="modal-text">The main features that were included into this project where that the user would be able view a list of all the game information in the database. The user could also view an individual game information than all. A search function that would allow the user to filter which game they would want to find. For example they could filter the database by genre. Finally the user is able to enter a new game product into the database.</p>
				</div>
				<div class="modalLinks">
					<div class="col-lg-2 col-lg-offset-4">
						<a href="" target="_blank">
							<div class="p-centered"><i class="fa fa-medium"></i></div>
							<p> Report </p>
						</a>
					</div>
					<div class="col-lg-2">
						<a href="" target="_blank">
							<div class="p-centered"><i class="fa fa-external-link-square"></i></div>
							<p> Github </p>
						</a>
					</div>
				</div>
			</div>
		</div>
	
		<div class="modal fade" id="validation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modalClose" onclick='$("html").css("overflow", "auto")'>
					<button type="button" class="btn btnCloseX" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true" data-dismiss="modal"></i></button>
				</div>
				<br />
				<div class="col-lg-12 col-lg-offset-0 modal-body-text">
				<h3 style='text-align: center;'>Selenium IDE Form Validation</h3>
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							<li data-target="#myCarousel" data-slide-to="1"></li>
							<li data-target="#myCarousel" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner">
							<div class="item active">
								<img src="images/thumbs/FormValidation.png" alt="Los Angeles" style="width:100%;">
							</div>
							<div class="item">
								<img src="images/thumbs/FormValidation2.png" alt="Chicago" style="width:100%;">
							</div>
							<div class="item">
								<img src="images/thumbs/FormValidation3.png" alt="New york" style="width:100%;">
							</div>
						</div>
						<a class="left carousel-control" href="#myCarousel" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#myCarousel" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
					<p class="modal-text">This project was created for an assignement in Web Design and Programming for my degree. The purpose of this project was to use a testing IDE to develop my testing skills rather than focusing on the the web design part. I was purposed to make a simple registration form which would have simple validation. Then the main objective was to create some automatic test cases which would check to see if the validation works.</p>
					<p class="modal-text">The main part of the project was to use a testing system called Selenium IDE. With javascript and Jquery, I was able to produce some test cases and sample form inputs which allowed the Selenium to input some random data in and check if the validation is correct. The end result of this assignment helped me develop my testing skill while scoring a mark of 80% (A).</p>
				</div>
				<div class="modalLinks">
					<div class="col-lg-2 col-lg-offset-4">
						<a href="" target="_blank">
							<div class="p-centered"><i class="fa fa-medium"></i></div>
							<p> Report </p>
						</a>
					</div>
					<div class="col-lg-2">
						<a href="" target="_blank">
							<div class="p-centered"><i class="fa fa-external-link-square"></i></div>
							<p> Github </p>
						</a>
					</div>
				</div>
			</div>
		</div>
