	<!--Navigation Bar-->
		<header id="nav-header">
			<div id="nav-content" class="navbar navbar-fixed-top fade">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span><i class="fa fa-bars" aria-hidden="true"></i></span>
						</button>
						<a class="nav-logo" href="">
							<span>
								<img src="images/me-face.png" height="40px"> Faser Parvez
							</span>
						</a>		
					</div>
					<div id="nav-links" class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li> <a href="#about" class="smoothScroll" style="font-weight: 500;">About Me</a></li>
							<li> <a href="#skills" class="smoothScroll" style="font-weight: 500;">Skills</a></li>
							<li> <a href="#education" class="smoothScroll" style="font-weight: 500;">Education</a></li>
							<li> <a href="#work" class="smoothScroll" style="font-weight: 500;">Experience</a></li>
							<li> <a href="#projects" class="smoothScroll" style="font-weight: 500;">Projects</a></li>
							<li> <a href="#contactinfo" data-toggle="modal" style="font-weight: 500;">Contact Info</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>  
