	<div id="navbar-main">
        <!-- Fixed navbar -->
		<div id="navCont" class="navbar navbar-inverse navbar-fixed-top fade">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>                        
					</button>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li> <a href="#about" class="smoothScroll toplinks" style="font-weight: 500;">About Me</a></li>
						<li> <a href="#skills" class="smoothScroll toplinks" style="font-weight: 500;">Skills</a></li>
						<li> <a href="#education" class="smoothScroll toplinks" style="font-weight: 500;">Education</a></li>
						<li> <a href="#work" class="smoothScroll toplinks" style="font-weight: 500;">Experience</a></li>
						<li> <a href="#projects" class="smoothScroll toplinks" style="font-weight: 500;">Projects</a></li>
						<li> <a href="#contactinfo" data-toggle="modal" style="font-weight: 500;">Contact Info</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>  
