<section class="c-matrix">
    <div class="c-matrix__wrapper">
				<div id="projects" name="projects">
					<h2 class="centered">Projects</h2>
					<br>
					
					<div class="row">
						<div data-toggle="modal" onclick='$("html").css("overflow", "hidden");' href="#module" class="col-md-4 box" data-sr="wait 0.1s, ease-in-out 50px">
							<div class="grid mask">
								<figure class="tintGreen">
									<img class="img-responsive tint_image" src="images/thumbs/moduleimage.png" alt="">
								</figure>
								<!-- /figure -->
							</div>
							<!-- /grid-mask -->
							<div class="caption-photo">
								<h5 class="pop1">Module Specification System</h5>
							</div>
						</div>
						
						<!-- /col -->
						<div data-toggle="modal" onclick='$("html").css("overflow", "hidden");' href="#guest" class="col-md-4" data-sr="wait 0.1s, ease-in-out 50px">
							<div class="grid mask">
								<figure class="tintGreen">
									<img class="img-responsive tint_image" src="images/thumbs/guestlectures.png" alt="">
								</figure>
								<!-- /figure -->
							</div>
							<!-- /grid-mask -->
							<div class="caption-photo">
								<h5 class="pop1">Guest Lecture Site</h5>
							</div>
						</div>
						
						<!-- /col -->
						<div data-toggle="modal" onclick='$("html").css("overflow", "hidden");' href="#chatroom" class="col-md-4 box" data-sr="wait 0.1s, ease-in-out 50px">
							<div class="grid mask">
								<figure class="tintGreen">
									<img class="img-responsive tint_image" src="images/thumbs/chatroom3.png" alt="">
								</figure>
								<!-- /figure -->
							</div>
							<!-- /grid-mask -->
							<div class="caption-photo">
								<h5 class="pop1">Java Chatroom</h5>
							</div>
						</div>
					</div>
					
					<!-- NEW ROW -->
					<div class="row row1">
					<!-- PORTFOLIO IMAGE 12 -->
						<div data-toggle="modal" onclick='$("html").css("overflow", "hidden");' href="#camcobra" class="col-md-4" data-sr="wait 0.1s, ease-in-out 50px">
							<div class="grid mask">
								<figure class="tintGreen">
									<img class="img-responsive tint_image" src="images/thumbs/camcobra3.png" alt="">
								</figure>
								<!-- /figure -->
							</div>
							<!-- /grid-mask -->
							<div class="caption-photo">
								<h5 class="pop1">Java CamCobra</h5>
							</div>
						</div>
						
						<!-- /col -->
						<div data-toggle="modal" onclick='$("html").css("overflow", "hidden");' href="#game" class="col-md-4 box" data-sr="wait 0.1s, ease-in-out 50px">
							<div class="grid mask">
								<figure class="tintGreen">
									<img class="img-responsive tint_image" src="images/thumbs/videogame1.png" alt="">
								</figure>
								<!-- /figure -->
							</div>
							<!-- /grid-mask -->
							<div class="caption-photo">
								<h5 class="pop1">C++ Video Game Database</h5>
							</div>
						</div>
						
						<!-- PORTFOLIO IMAGE 11 -->
						<div data-toggle="modal" onclick='$("html").css("overflow", "hidden");' href="#validation" class="col-md-4" data-sr="wait 0.1s, ease-in-out 50px">
							<div class="grid mask">
								<figure class="tintGreen">
									<img class="img-responsive tint_image" src="images/thumbs/FormValidation.png" alt="">
								</figure>
								<!-- /figure -->
							</div>
							<!-- /grid-mask -->
							<div class="caption-photo">
								<h5 class="pop1">Selenium IDE Form Validation</h5>
							</div>
						</div>
						<!-- /col -->
					</div>
				</div>
    </div>
</section>

<footer class="c-footer">
    <div class="c-footer__wrapper">

	    
  

        <!--Call your modal-->
        <ul>
            <li><a id="demo02" href="#modal-02">DEMO 2</a></li>
        </ul>
      
     

        <!--DEMO02-->
        <div id="modal-02">
            <!--"THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID-->
            <div  id="btn-close-modal" class="close-modal-02"> 
                X
            </div>
            
            <div class="modal-content">
                <!--Your modal content goes here-->
						<div style='font-size: 2em; color: #4582ec; font-weight: bold; padding-bottom: 0.3em; text-align: center;'>Selenium IDE Form Validation</div>
						<p class="modal-text">This project was created for an assignement in Web Design and Programming for my degree. The purpose of this project was to use a testing IDE to develop my testing skills rather than focusing on the the web design part. I was purposed to make a simple registration form which would have simple validation. Then the main objective was to create some automatic test cases which would check to see if the validation works.</p>
						<p class="modal-text">The main part of the project was to use a testing system called Selenium IDE. With javascript and Jquery, I was able to produce some test cases and sample form inputs which allowed the Selenium to input some random data in and check if the validation is correct. The end result of this assignment helped me develop my testing skill while scoring a mark of 80% (A).</p>
	    
		</div>
    </div>
	    
	</div>	    
</footer>
