	<section class="c-matrix">
		<div class="c-matrix__wrapper">
			<div id="projects" name="projects">
				<h2 class="centered">Projects</h2>
				<br>
				
				<div class="row">
					<div data-toggle="modal" onclick='$("html").css("overflow", "hidden");' href="#module" class="col-md-4 box" data-sr="wait 0.1s, ease-in-out 50px">
						<div class="grid mask">
							<figure class="tintGreen">
								<img class="img-responsive tint_image" src="images/thumbs/moduleimage.png" alt="">
							</figure>
						</div>
						<div class="caption-photo">
							<h5 class="pop1">Module Specification System</h5>
						</div>
					</div>
					
					<div data-toggle="modal" onclick='$("html").css("overflow", "hidden");' href="#guest" class="col-md-4" data-sr="wait 0.1s, ease-in-out 50px">
						<div class="grid mask">
							<figure class="tintGreen">
								<img class="img-responsive tint_image" src="images/thumbs/guestlectures.png" alt="">
							</figure>
						</div>
						<div class="caption-photo">
							<h5 class="pop1">Guest Lecture Site</h5>
						</div>
					</div>
					
					<div data-toggle="modal" onclick='$("html").css("overflow", "hidden");' href="#chatroom" class="col-md-4 box" data-sr="wait 0.1s, ease-in-out 50px">
						<div class="grid mask">
							<figure class="tintGreen">
								<img class="img-responsive tint_image" src="images/thumbs/chatroom3.png" alt="">
							</figure>
						</div>
						<div class="caption-photo">
							<h5 class="pop1">Java Chatroom</h5>
						</div>
					</div>
				</div>
				
				<div class="row row1">
					<div data-toggle="modal" onclick='$("html").css("overflow", "hidden");' href="#camcobra" class="col-md-4" data-sr="wait 0.1s, ease-in-out 50px">
						<div class="grid mask">
							<figure class="tintGreen">
								<img class="img-responsive tint_image" src="images/thumbs/camcobra3.png" alt="">
							</figure>
						</div>
						<div class="caption-photo">
							<h5 class="pop1">Java CamCobra</h5>
						</div>
					</div>
					<div data-toggle="modal" onclick='$("html").css("overflow", "hidden");' href="#game" class="col-md-4 box" data-sr="wait 0.1s, ease-in-out 50px">
						<div class="grid mask">
							<figure class="tintGreen">
								<img class="img-responsive tint_image" src="images/thumbs/videogame1.png" alt="">
							</figure>
						</div>
						<div class="caption-photo">
							<h5 class="pop1">C++ Video Game Database</h5>
						</div>
					</div>	
					<div data-toggle="modal" onclick='$("html").css("overflow", "hidden");' href="#validation" class="col-md-4" data-sr="wait 0.1s, ease-in-out 50px">
						<div class="grid mask">
							<figure class="tintGreen">
								<img class="img-responsive tint_image" src="images/thumbs/FormValidation.png" alt="">
							</figure>
						</div>
						<div class="caption-photo">
							<h5 class="pop1">Selenium IDE Form Validation</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		</section>
