<section class="c-matrix">
    <div class="c-matrix__wrapper">
				<div class="container" id="projects" name="projects">
					<h2 class="centered" style="font-size: 2em; color: #4582ec; font-weight: bold; padding-bottom: 0.3em;">Projects</h2>
					<br>
					
					<div class="row">
						<div data-toggle="modal" onclick='$("html").css("overflow", "hidden");' href="#module" class="col-md-4 box" data-sr="wait 0.1s, ease-in-out 50px">
							<div class="grid mask">
								<figure class="tintGreen">
									<img class="img-responsive tint_image" src="images/thumbs/moduleimage.png" alt="">
								</figure>
								<!-- /figure -->
							</div>
							<!-- /grid-mask -->
							<div class="caption-photo">
								<h5 class="pop1">Module Specification System</h5>
							</div>
						</div>
						
						<!-- /col -->
						<div data-toggle="modal" onclick='$("html").css("overflow", "hidden");' href="#guest" class="col-md-4" data-sr="wait 0.1s, ease-in-out 50px">
							<div class="grid mask">
								<figure class="tintGreen">
									<img class="img-responsive tint_image" src="images/thumbs/guestlectures.png" alt="">
								</figure>
								<!-- /figure -->
							</div>
							<!-- /grid-mask -->
							<div class="caption-photo">
								<h5 class="pop1">Guest Lecture Site</h5>
							</div>
						</div>
						
						<!-- /col -->
						<div data-toggle="modal" onclick='$("html").css("overflow", "hidden");' href="#chatroom" class="col-md-4 box" data-sr="wait 0.1s, ease-in-out 50px">
							<div class="grid mask">
								<figure class="tintGreen">
									<img class="img-responsive tint_image" src="images/thumbs/chatroom3.png" alt="">
								</figure>
								<!-- /figure -->
							</div>
							<!-- /grid-mask -->
							<div class="caption-photo">
								<h5 class="pop1">Java Chatroom</h5>
							</div>
						</div>
					</div>
					
					<!-- NEW ROW -->
					<div class="row row1">
					<!-- PORTFOLIO IMAGE 12 -->
						<div data-toggle="modal" onclick='$("html").css("overflow", "hidden");' href="#camcobra" class="col-md-4" data-sr="wait 0.1s, ease-in-out 50px">
							<div class="grid mask">
								<figure class="tintGreen">
									<img class="img-responsive tint_image" src="images/thumbs/camcobra3.png" alt="">
								</figure>
								<!-- /figure -->
							</div>
							<!-- /grid-mask -->
							<div class="caption-photo">
								<h5 class="pop1">Java CamCobra</h5>
							</div>
						</div>
						
						<!-- /col -->
						<div data-toggle="modal" onclick='$("html").css("overflow", "hidden");' href="#game" class="col-md-4 box" data-sr="wait 0.1s, ease-in-out 50px">
							<div class="grid mask">
								<figure class="tintGreen">
									<img class="img-responsive tint_image" src="images/thumbs/videogame1.png" alt="">
								</figure>
								<!-- /figure -->
							</div>
							<!-- /grid-mask -->
							<div class="caption-photo">
								<h5 class="pop1">C++ Video Game Database</h5>
							</div>
						</div>
						
						<!-- PORTFOLIO IMAGE 11 -->
						<div data-toggle="modal" onclick='$("html").css("overflow", "hidden");' href="#validation" class="col-md-4" data-sr="wait 0.1s, ease-in-out 50px">
							<div class="grid mask">
								<figure class="tintGreen">
									<img class="img-responsive tint_image" src="images/thumbs/FormValidation.png" alt="">
								</figure>
								<!-- /figure -->
							</div>
							<!-- /grid-mask -->
							<div class="caption-photo">
								<h5 class="pop1">Selenium IDE Form Validation</h5>
							</div>
						</div>
						<!-- /col -->
					</div>
				</div>
    </div>
</section>
