	<div class="modal fade" id="module" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="background: #07283e99; !important;">
			<div class="modal-dialog">
				<div class="modal-closer" onclick='$("html").css("overflow", "auto")'>
					<button type="button" class="btn btn-yellow-sm" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true" data-dismiss="modal"></i> Close </button>
				</div>
				<br />
				<div class="col-lg-12 col-lg-offset-0 modal-body-text">
					<h3 style='text-align: center;'>Module Specification Project</h3>
					<div align="center">
						<video width="600" height="400" controls>
							<source src="images/ModuleSpec.mp4" type="video/mp4">
							Your browser does not support the video tag.
						</video>
					</div>
					<p class="modal-text">The module specification site is a project that I have worked on for the University of Huddersfield. The project started off by doing a one year placement for my Computing Bsc degree course at the university. I was set up to create a system that would store module specification documentation onto an online system. The departments that I have been working with to set up the project were Computing and Engineering school and the Cooperate Information System team at the Computing and Library services. The system was carried on through my final year project for my degree and further developed to expand onto programme specification documents and expanding onto other schools at the university.</p>
					<p class="modal-text">The system was a web based application that would allow the Computing and Engineering schools to view module specifications online and make changes. The database would be held in the main central building with other university systems while schools would be able to edit the documents. The system would allow staff members to make changes to their specification and a process would go through of validation checks. This would send emails to other staff members who are in charge of checking the changes made and to validate the documents before accepting the changes.</p>
					<p class="modal-text">Features that were included into the system were a search engine to find module specifications, to view and edit module specification depending on the staff member who owns the document. An advanced login system would have different access levels to the system. A validation process of checking the changes made with the documents and who has checked the documents.</p>				
				</div>
				<div class="modal-content-style">
					<div class="col-lg-2 col-lg-offset-4">
						<a href="" target="_blank">
							<div class="centered"><i class="fa fa-medium"></i></div>
							<p> Report </p>
						</a>
					</div>
					<div class="col-lg-2">
						<a href="" target="_blank">
							<div class="centered"><i class="fa fa-external-link-square"></i></div>
							<p> Github </p>
						</a>
					</div>
				</div>
			</div>
		</div>
	
		<div class="modal fade" id="guest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="background: #07283e99; !important;">
			<div class="modal-dialog">
				<div class="modal-closer" onclick='$("html").css("overflow", "auto")'>
					<button type="button" class="btn btn-yellow-sm" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true" data-dismiss="modal"></i> Close </button>
				</div>
				<br />
				<div class="col-lg-12 col-lg-offset-0 modal-body-text">
					<h3 style='text-align: center;'>Guest Lecture Site</h3>
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						</ol>	
						<div class="carousel-inner">
							<div class="item active">
								<img src="images/thumbs/guestlectures.png" alt="Los Angeles" style="width:100%;">
							</div>
						</div>
						<a class="left carousel-control" href="#myCarousel" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#myCarousel" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>                        	 
					<p class="modal-text">The Guest Lectures project is a web application project that was created for the University of Huddersfield for a 3 month internship as a junior web developer. The system was proposed by the Art, Design and Architecture school and head of department. </p>
					<p class="modal-text">The purpose of the system was to create a web system where guest lectures and events could be advertise for the students of this school. Students would then be able to book on these events if they wish to attend. The system would be used to reduce paperwork for the marketing team of the school so rather than using an external site like eventbrite and also doing paper work, they would have their own site to track each event.</p>
					<p class="modal-text">Guest lecture web application features includes a login system based on access. Everyone who would view the site would be able to see all the past events. However on live events, students and staff members would only be able to log in to view upcoming and live events and be able to book. Above that staff members would only be able to see the admin area where they are able to create new events and make changes to email notification.</p>
					<p class="modal-text">The advanced feature of this system was sending automatic emails and reminders to students. Previously the marketing team would have to do this manually but with this system, they are able to set a reminder, and final reminder to selected groups that are aimed at for the event. The system would send an email reminding them of this event and to book quickly.</p>
					<p class="modal-text">This system was presented to the head of deans of the university and other schools within the university. The system had got excellent feedback which lead to the staff members of other schools wanting to implement it.</p>
				</div>
				<div class="modal-content-style">
					<div class="col-lg-2 col-lg-offset-4">
						<a href="" target="_blank">
							<div class="centered"><i class="fa fa-medium"></i></div>
							<p> Report </p>
						</a>
					</div>
					<div class="col-lg-2">
						<a href="" target="_blank">
							<div class="centered"><i class="fa fa-external-link-square"></i></div>
							<p> Github </p>
						</a>
					</div>
				</div>
			</div>
		</div>
	
		<div class="modal fade" id="chatroom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="background: #07283e99; !important;">
			<div class="modal-dialog">
				<div class="modal-closer" onclick='$("html").css("overflow", "auto")'>
					<button type="button" class="btn btn-yellow-sm" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true" data-dismiss="modal"></i> Close </button>
				</div>
				<br />
				<div class="col-lg-12 col-lg-offset-0 modal-body-text">
					<h3 style='text-align: center;'>Java Chatroom</h3>
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							<li data-target="#myCarousel" data-slide-to="1"></li>
							<li data-target="#myCarousel" data-slide-to="2"></li>
							<li data-target="#myCarousel" data-slide-to="3"></li>
						</ol>
						<div class="carousel-inner">
							<div class="item active">
								<img src="images/thumbs/chatroom1.png" alt="Los Angeles" style="width:100%;">
							</div>
							<div class="item">
								<img src="images/thumbs/chatroom2.png" alt="Chicago" style="width:100%;">
							</div>
							<div class="item">
								<img src="images/thumbs/chatroom3.png" alt="New york" style="width:100%;">
							</div>
							<div class="item">
								<img src="images/thumbs/chatroom4.png" alt="New york" style="width:100%;">
							</div>
						</div>
						<a class="left carousel-control" href="#myCarousel" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#myCarousel" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
					<p class="modal-text">This is a project that was developed by using Java and Javaspace. The purpose of this project was to create a chatroom where users are able to communicate with each other. The data where this information would be stored was used by a system called Javaspace. Apache River was used with Linux to create this by starting up a Javaspace. The Javaspace would then be used to collect the data back to the chatroom application.</p>
					<p class="modal-text">The features that this system has is an authentication login system where the user is able to either create an account or just log in if they already have one. The user is then able to view all chatrooms available on the java application and create their own chatroom. Inside a chatroom, the user is able to communicate with other users using the application and send public message. There is also an option to send a private message to the chatroom owner. Finally the user can delete their own chatroom.</p>
				</div>
				<div class="modal-content-style">
					<div class="col-lg-2 col-lg-offset-4">
						<a href="" target="_blank">
							<div class="centered"><i class="fa fa-medium"></i></div>
							<p> Report </p>
						</a>
					</div>
					<div class="col-lg-2">
						<a href="" target="_blank">
							<div class="centered"><i class="fa fa-external-link-square"></i></div>
							<p> Github </p>
						</a>
					</div>
				</div>
			</div>
		</div>
