	<section class="s-wrapper">
		<div class="s-wrapper__wrap">
			<div id="about">
				<div id="about" class="row rowAbout">
					<div id="aboutText" class="col-md-5 col-md-push-6 callout" data-sr="wait 0.1s enter right over 1s">
						<h2 class="p-centered">Faser Parvez</h2>
						<div class="center-block dividerLine"></div>    
						<p>I am a recent graduate with a 2:1 honours Computing BSc degree from the University of Huddersfield. I have a long history and strong interest within the design and development area of software and web applications. I have successfully picked up some experience within this area by completing a year in industry for my placement year and having worked as a junior web developer for an internship.</p>
						<br />
						<p>As a person with Strong communication, good organisational skills and works at a high standard, I believe in self-improvement and taking new challenges while having a passionate to progress further in a career as a developer.</p>
						<br />
						<p>Throughout my degree at the University of Huddersfield, I have developed several technical skills in areas of development. Each year in my course, I was able to pick up different software packages and programming skills through modules assessment and self study.</p>
					</div>
					<div class="col-md-6 col-md-pull-5 callout" data-sr="wait 0.1s enter left over 1s">
						<div class="aboutImage-ct center-block">
							<img class="aboutImage" src="images/profileimage.png">
						</div>
					</div>
				</div>
			</div>
		</div>
		</section>

		<section class="s-wrapper">
		<div class="s-wrapper__wrap">
			<div id="skills">  
				<h2 class="p-centered">My Skills</h2>
				<br>
			
				<h3 class="s-icon s-head">Web Programming:</h3>    
				<div class="row row1">
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter left, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/html.png" alt="">
						<p class="aboutLineHeight aboutFont">HTML5</p>
					</div>
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter left, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/css.png" alt="">
						<p class="aboutLineHeight aboutFont">CSS3</p>
					</div>
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/js.png" alt="">
						<p class="aboutLineHeight aboutFont">Javascript</p>
					</div>
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/jquery.png" alt="">
						<p class="aboutLineHeight aboutFont">Jquery</p>
					</div>
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/react.png" alt="">
						<p class="aboutLineHeight aboutFont">React</p>
					</div>
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/node.png" alt="">
						<p class="aboutLineHeight aboutFont">Node JS</p>
					</div>
				</div>
			
				<br />
				<h3 class="s-icon s-head">Programming & Database:</h3>
				<div class="row row1">
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter left, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/java.png" alt="">
						<p class="aboutLineHeight aboutFont">Java</p>
					</div>
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter left, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/php.png" alt="">
						<p class="aboutLineHeight aboutFont">PHP</p>
					</div>
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/c.png" alt="">
						<p class="aboutLineHeight aboutFont">C#</p>
					</div>
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/cpp.png" alt="">
						<p class="aboutLineHeight aboutFont">C++</p>
					</div>
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/python.png" alt="">
						<p class="aboutLineHeight aboutFont">Python</p>
					</div>
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/sql.png" alt="">
						<p class="aboutLineHeight aboutFont">SQL/MySQL</p>
					</div>
				</div>
			
				<br />
				<h3 class="s-icon s-head">Others:</h3>
				<div class="row row1">
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter left, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/office.png" alt="">
						<p class="aboutLineHeight aboutFont">Microsoft Office</p>
					</div>
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter left, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/photoshop.png" alt="">
						<p class="aboutLineHeight aboutFont">Adobe Photoshop</p>
					</div>
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/visual.png" alt="">
						<p class="aboutLineHeight aboutFont">Visual Studio</p>
					</div>
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/github.png" alt="">
						<p class="aboutLineHeight aboutFont">Github</p>
					</div>
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/wordpress.png" alt="">
						<p class="aboutLineHeight aboutFont">WordPress</p>
					</div>
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/social.png" alt="">
						<p class="aboutLineHeight aboutFont">Social Media</p>
					</div>
				</div>				
			</div>
		</div>
		</section>

		<section class="s-wrapper">
		<div class="s-wrapper__wrap">
			<div id="education">
				<h2 class="p-centered">Education</h2>
				<br>
				
				<div class="row row1">
					<div class="row">
						<div class="col-lg-6 col-md-6 callout" data-sr="wait 0.1s enter left over 1s">
							<h2 class="s-icon s-head">University of Huddersfield</h2>
							<p class="para-p"><a href="https://www.hud.ac.uk/courses/full-time/undergraduate/computing-bsc-hons/">BSc (Hons) Computing</a>
							<br>
							<a href="https://www.hud.ac.uk/">University of Huddersfield</a> 
							<br>
							Studied: 2012-2016.
							<br>
							Graduated: July 2016
							<br>    
							Degree Class: 2nd Class (2:1)
							<br>    
							Relevant modules:  Software Design and Development, Large System Environments, Advanced Web Programming, Relational Databases and Web Integration, Modern Database Application. 
							<br>
							Placement Year: Completed at the University
							<br>
							Other Information: Acted as a Student Representative & Peers Teaching Assistant.
							</p>
						</div>
						<div class="col-lg-6 col-md-6 callout" data-sr="wait 0.1s enter right over 1s">
							<h2 class="s-icon s-head">Rotherham College</h2>
							<p class="para-p">BTEC National Diploma IT Practitioners
							<br>   
							Studied: 2008-2011.
							<br>
							Grade: 3x Distinction (A, A, A)
							<br>
							Other Qualifications: Key Skills in Communication - Level 2  
							<br>    
							Other Qualifications: Key Skills in Application of Numbers – Level 2
							<br>
							Awarded: Faculty of Professional Studies Award  
							<br>
							For Effort and Commitment in BTEC National Diploma Software/General
							</p>			
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-lg-6 col-md-6 callout" data-sr="wait 0.1s enter left over 1s">
							<h2 class="s-icon s-head">Newman School</h2>
							<p class="para-p">Studied: 2000-2008
							<br>
							GCSE’s:  English, Maths, Science, IT, History 
							<br>
							Awarded: Certificate of Personal Effectiveness  
							<br>
							For developing various of skills such as working with others & carrying out research.  
							<br>
							School Pantomime: Acted as backstage manager for the school pantomime each year.
							<br>
							Work Experience: Completed two weeks of work experience at Mc Donald's.				
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		</section>

		<section class="s-wrapper">
		<div class="s-wrapper__wrap">
			<div id="work">
				<h2 class="p-centered">Work Experience</h2>
				<br>
				
				<div class="row row1">
					<div class="col-sm-5" data-sr="wait 0.1s enter left over 1s">
						<h3 class="s-icon s-head">Junior Web Developer</h3>
						<div class="exp-article">
							<p class="para-p">
							Assist in developing an interactive website within the university for the School of Art, Design and Architecture department.  
							<br>
							• Developed an interactive website project that aims to promote guest workshops.
							<br>
							• Successfully delivered the project on time and at a high-quality standard while presented to each of the school’s head of departments and deans.
							<br>
							• Duties included to communicate effectively with clients and users and analyse the feedback.
							<br>
							• Took appropriate training of learning the university web content management system.
							<br>
							• Maintain the website and investigated any bugs reported by clients and users. 
							<br>
							• Undertook other responsibilities such as testing the University learning technology website. 
							</p>
						</div>
					</div>
					
					<div class="col-sm-5 col-sm-offset-2" data-sr="wait 0.1s enter right over 1s">
						<h3 class="s-icon s-head">Junior Software Developer</h3>
						<div class="exp-article">
							<p class="para-p">
							Working with the Corporate Information Systems department at CLS as a junior software developer.  
							<br>
							• Developed a core system to store the University Programme and Module specifications. 
							<br>
							• Delivered the project to the university managers and deans, which successfully expanded the project to other schools. 
							<br>
							• Used technical skills in C#, MySQL, JavaScript to develop the system. 
							<br>
							• Duties included to communicate effectively with clients and stakeholders. 
							<br>
							• Work effectively with others in a fast-paced environment and attend weekly meetings. 
							<br>
							• Help assist other team members with other projects.			
							</p>
						</div>
					</div>
				</div>
				<br />
				
				<div class="row row1">
					<div class="col-sm-5" data-sr="wait 0.1s enter left over 1s">
						<h3 class="s-icon s-head">Peers Teaching Assistant</h3>
						<div class="exp-article">
							<p class="para-p">
							Worked with the teaching staff at the Computing and Engineering department to provide support for 1st year students while being a voice to collect feedback and suggestions.  
							<br>
							• Duties included to set up fortnightly workshops for 1st year students to attend for help with their work. 
							<br>
							• Attended an official teaching workshop to help assist the tutor with any problems. 
							<br>
							• To collect feedback and suggestions from students and deliver in a report for staff members to make changes.
							<br>
							• Help assist in other duties.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		</section>

		<section class="s-wrapper">
		<div class="s-wrapper__wrap">
			<div id="projects" name="projects">
				<h2 class="p-centered">Projects</h2>
				<br>
				
				<div class="row">
					<div data-toggle="modal" onclick='$("html").css("overflow", "hidden");' href="#module" class="col-md-4 box" data-sr="wait 0.1s, ease-in-out 50px">
						<div class="project-box  mask">
							<figure class="tintedScreen">
								<img class="img-responsive tintedImage" src="images/thumbs/moduleimage.png" alt="">
							</figure>
						</div>
						<div class="projectCaption">
							<h5>Module Specification System</h5>
						</div>
					</div>
					
					<div data-toggle="modal" onclick='$("html").css("overflow", "hidden");' href="#guest" class="col-md-4" data-sr="wait 0.1s, ease-in-out 50px">
						<div class="project-box  mask">
							<figure class="tintedScreen">
								<img class="img-responsive tintedImage" src="images/thumbs/guestlectures.png" alt="">
							</figure>
						</div>
						<div class="projectCaption">
							<h5>Guest Lecture Site</h5>
						</div>
					</div>
					
					<div data-toggle="modal" onclick='$("html").css("overflow", "hidden");' href="#chatroom" class="col-md-4 box" data-sr="wait 0.1s, ease-in-out 50px">
						<div class="project-box  mask">
							<figure class="tintedScreen">
								<img class="img-responsive tintedImage" src="images/thumbs/chatroom3.png" alt="">
							</figure>
						</div>
						<div class="projectCaption">
							<h5>Java Chatroom</h5>
						</div>
					</div>
				</div>
				
				<div class="row row1">
					<div data-toggle="modal" onclick='$("html").css("overflow", "hidden");' href="#camcobra" class="col-md-4" data-sr="wait 0.1s, ease-in-out 50px">
						<div class="project-box  mask">
							<figure class="tintedScreen">
								<img class="img-responsive tintedImage" src="images/thumbs/camcobra3.png" alt="">
							</figure>
						</div>
						<div class="projectCaption">
							<h5>Java CamCobra</h5>
						</div>
					</div>
					<div data-toggle="modal" onclick='$("html").css("overflow", "hidden");' href="#game" class="col-md-4 box" data-sr="wait 0.1s, ease-in-out 50px">
						<div class="project-box  mask">
							<figure class="tintedScreen">
								<img class="img-responsive tintedImage" src="images/thumbs/videogame1.png" alt="">
							</figure>
						</div>
						<div class="projectCaption">
							<h5>C++ Video Game Database</h5>
						</div>
					</div>	
					<div data-toggle="modal" onclick='$("html").css("overflow", "hidden");' href="#validation" class="col-md-4" data-sr="wait 0.1s, ease-in-out 50px">
						<div class="project-box  mask">
							<figure class="tintedScreen">
								<img class="img-responsive tintedImage" src="images/thumbs/FormValidation.png" alt="">
							</figure>
						</div>
						<div class="projectCaption">
							<h5>Selenium IDE Form Validation</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		</section>
