<section class="c-matrix">
    <div class="c-matrix__wrapper">
			<div class="container" id="skills">  
				<h2 class="centered" style="font-size: 2em; color: #4582ec; font-weight: bold; padding-bottom: 0.3em;">My Skills</h2>
				<br>    

				<h3 class="topicon sechead">Web Programming:</h3>    
				<div class="row row1">
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter left, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/html.png" alt="">
						<p class="special-line-height small-font">HTML5</p>
					</div>
					<!-- col -->
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter left, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/css.png" alt="">
						<p class="special-line-height small-font">CSS3</p>
					</div>
					<!-- col -->
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/js.png" alt="">
						<p class="special-line-height small-font">Javascript</p>
					</div>
					<!-- col -->
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/jquery.png" alt="">
						<p class="special-line-height small-font">Jquery</p>
					</div>
					<!-- col -->
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/react.png" alt="">
						<p class="special-line-height small-font">React</p>
					</div>
					<!-- col -->
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/node.png" alt="">
						<p class="special-line-height small-font">Node JS</p>
					</div>
				</div>
				
				<h3 class="topicon sechead">Programming & Database:</h3>
				<div class="row row1">
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter left, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/java.png" alt="">
						<p class="special-line-height small-font">Java</p>
					</div>
					<!-- col -->
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter left, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/php.png" alt="">
						<p class="special-line-height small-font">PHP</p>
					</div>
					<!-- col -->
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/c.png" alt="">
						<p class="special-line-height small-font">C#</p>
					</div>
					<!-- col -->
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/cpp.png" alt="">
						<p class="special-line-height small-font">C++</p>
					</div>
					<!-- col -->
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/python.png" alt="">
						<p class="special-line-height small-font">Python</p>
					</div>
					<!-- col -->
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/sql.png" alt="">
						<p class="special-line-height small-font">SQL/MySQL</p>
					</div>
				</div>

				<!-- row -->
				<h3 class="topicon sechead">Others:</h3>
				<div class="row row1">
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter left, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/office.png" alt="">
						<p class="special-line-height small-font">Microsoft Offie</p>
					</div>
					<!-- col -->
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter left, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/photoshop.png" alt="">
						<p class="special-line-height small-font">Adobe Photoshop</p>
					</div>
					<!-- col -->
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/visual.png" alt="">
						<p class="special-line-height small-font">Visual Studio</p>
					</div>
					<!-- col -->
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/github.png" alt="">
						<p class="special-line-height small-font">Github</p>
					</div>
					<!-- col -->
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/wordpress.png" alt="">
						<p class="special-line-height small-font">Wordpress</p>
					</div>
					<!-- col -->
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/social.png" alt="">
						<p class="special-line-height small-font">Social Medias</p>
					</div>
				</div>				
			</div>
    </div>
</section>


                <!-- //////////////////////////////////////////////// SKILLS ////////////////////////////////////////////////  -->
		<div id="purplewrap">	
			<div class="container" id="skills">  
				<h2 class="centered" style="font-size: 2em; color: #4582ec; font-weight: bold; padding-bottom: 0.3em;">My Skills</h2>
				<br>    
				
				<h3 class="topicon sechead">Web Programming:</h3>    
				<div class="row row1">
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter left, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/html.png" alt="">
						<p class="special-line-height small-font">HTML5</p>
					</div>
					<!-- col -->
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter left, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/css.png" alt="">
						<p class="special-line-height small-font">CSS3</p>
					</div>
					<!-- col -->
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/js.png" alt="">
						<p class="special-line-height small-font">Javascript</p>
					</div>
					<!-- col -->
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/jquery.png" alt="">
						<p class="special-line-height small-font">Jquery</p>
					</div>
					<!-- col -->
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/react.png" alt="">
						<p class="special-line-height small-font">React</p>
					</div>
					<!-- col -->
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/node.png" alt="">
						<p class="special-line-height small-font">Node JS</p>
					</div>
				</div>
				
				<h3 class="topicon sechead">Programming & Database:</h3>
				<div class="row row1">
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter left, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/java.png" alt="">
						<p class="special-line-height small-font">Java</p>
					</div>
					<!-- col -->
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter left, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/php.png" alt="">
						<p class="special-line-height small-font">PHP</p>
					</div>
					<!-- col -->
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/c.png" alt="">
						<p class="special-line-height small-font">C#</p>
					</div>
					<!-- col -->
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/cpp.png" alt="">
						<p class="special-line-height small-font">C++</p>
					</div>
					<!-- col -->
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/python.png" alt="">
						<p class="special-line-height small-font">Python</p>
					</div>
					<!-- col -->
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/sql.png" alt="">
						<p class="special-line-height small-font">SQL/MySQL</p>
					</div>
				</div>
				
				<!-- row -->
				<h3 class="topicon sechead">Others:</h3>
				<div class="row row1">
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter left, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/office.png" alt="">
						<p class="special-line-height small-font">Microsoft Offie</p>
					</div>
					<!-- col -->
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter left, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/photoshop.png" alt="">
						<p class="special-line-height small-font">Adobe Photoshop</p>
					</div>
					<!-- col -->
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/visual.png" alt="">
						<p class="special-line-height small-font">Visual Studio</p>
					</div>
					<!-- col -->
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/github.png" alt="">
						<p class="special-line-height small-font">Github</p>
					</div>
					<!-- col -->
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/wordpress.png" alt="">
						<p class="special-line-height small-font">Wordpress</p>
					</div>
					<!-- col -->
					<div class="col-xs-6 col-sm-2" data-sr="wait 0.2s, enter right, vFactor 0.8">
						<img class="img-responsive inverted" src="images/logo/social.png" alt="">
						<p class="special-line-height small-font">Social Medias</p>
					</div>
				</div>
			</div>
		</div>
		<br>
